<div ng-show="mostrar_proyectos">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a > <strong> Proyectos descargados </strong> </a>
        </li>
    </ol>  
    
    <div class="table-responsive">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Proyecto</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Avance</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="p in proyectos">
                    <th scope="row">{{p.codigo}}</th>
                    <td> {{p.proyecto}} </td>
                    <td> {{p.descripcion}} </td>
                    <td>
                        <button ng-click="ver_informes(p)" title="Ver/crear avance" class="btn btn-default" aria-label="Left Align">
                            <span class="fa fa-search" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div ng-show="mostrar_informes">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a > <strong ng-click="mostrar_informes=false; mostrar_proyectos=true;">Proyectos descargados</strong>  / informe por proyecto</a>
        </li>
    </ol>
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">Num. Doc</th>
                <th scope="col">Descripción</th>
                <th scope="col">Fecha</th>
                <th scope="col">Lineas</th>
                <th scope="col">Asistencias</th>
                <th scope="col">Sincronizar</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="i in proyecto_actual.informes">
                <th>{{i.documentno}}</th>
                <th> <input class="form-control" form="form_informes" type="text" required ng-model="i.descripcion"></th>
                <td> <input class="form-control" form="form_informes" type="date" required ng-model="i.fecha"></td>
                <td>
                    <button ng-click="ver_lineas_informe(i)" type="button" class="btn btn-default" aria-label="Left Align">
                        <span class="fa fa-search" aria-hidden="true"></span>
                    </button> 
                </td>
                <td>
                    <button ng-click="ver_lineas_asistencias(i)" type="button" class="btn btn-default" aria-label="Left Align">
                        <span class="fa fa-list-ol" aria-hidden="true"></span>
                    </button> 
                </td>
                <td>
                    <button ng-click="sincronizar(proyecto_actual, i)" type="button" title="Sincronizar avance" class="btn btn-default" aria-label="Left Align">
                        <span class="fa fa-cloud-upload" aria-hidden="true"></span>
                    </button>
                </td>
                <td>
                    <button ng-disabled="i.s_timeexpense_id > 0" ng-click="eliminar_informe($index, proyecto_actual.informes)" type="button" class="btn btn-default" aria-label="Left Align">
                        <span class="fa fa-times" aria-hidden="true"></span> 
                    </button> 
                </td>
            </tr>
        </tbody>
    </table>
    <form id="form_informes" ng-submit="guardar_localmente(proyecto_actual)">
        <button type="button" class="btn btn-info" ng-click="nuevo_informe()">
            <span class="fa fa-plus" aria-hidden="true"></span>
        </button>
        <button type="submit" title="Guardar localmente" class="btn btn-info">
            <span class="fa fa-floppy-o" aria-hidden="true"></span>
        </button>
    </form> 
</div>



<div class="modal fade" id="lineas_informe_proyecto" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="card">
                <div class="card-header"> 
                    <table>
                        <thead>
                            <tr>
                                <th scope="col">Ubicación</th>
                                <th scope="col">Ingenieria</th>
                                <th scope="col">Tarea</th>
                                <th scope="col">Producto</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <select 
                                        form="ubicacion_select" class="form-control" required 
                                        ng-model="ubicacion_seleccionada" 
                                        ng-change="cambio_ubicacion(ubicacion_seleccionada)"
                                        ng-options="u as u.ubicacion for u in ubicaciones">
                                        <option value=""></option>
                                    </select>
                                </td>
                                <td>
                                    <select 
                                        form="ubicacion_select" class="form-control" required 
                                        ng-model="fase_seleccionada" 
                                        ng-change="cambio_fase(fase_seleccionada)"
                                        ng-options="f as f.fase for f in fases">
                                        <option value=""></option>
                                    </select>
                                </td>
                                <td>
                                    <select 
                                        form="ubicacion_select" class="form-control" required 
                                        ng-model="tarea_seleccionada" 
                                        ng-change="cambio_tarea(tarea_seleccionada)"
                                        ng-options="t as t.tarea for t in tareas">
                                        <option value=""></option>
                                    </select>
                                </td>
                                <td>
                                    <select 
                                        form="ubicacion_select" class="form-control" required 
                                        ng-model="producto_seleccionado"
                                        ng-options="l as l.producto for l in lineas_tarea">
                                        <option value=""></option>
                                    </select>
                                </td>
                                <td>
                                    <form id="ubicacion_select" ng-submit="nueva_linea(ubicacion_seleccionada, fase_seleccionada, tarea_seleccionada, producto_seleccionado)">
                                        <button type="submit" class="btn btn-info">
                                            <span class="fa fa-plus" aria-hidden="true"></span>
                                        </button>
                                    </form>                                   
                                </td>
                                <td>
                                    <button type="button" class="btn btn-info" ng-click="generar_todos(ubicacion_seleccionada, fase_seleccionada)" title="Generar desde Ubicacion - Ingenieria">
                                        <span class="fa fa-retweet" aria-hidden="true"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        
                    </table>              
                    
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">Ubicación</th>
                                    <th scope="col">Fase</th>
                                    <th scope="col">Tarea</th>
                                    <th scope="col">Producto</th>
                                    <th scope="col">Cant Presup.</th>
                                    <th scope="col">Cant Av.</th>
                                    <th scope="col">Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="linea in informe_actual.lineas">
                                    <td> {{linea.ubicacion.ubicacion}} </td>
                                    <td> {{linea.fase.fase}} </td>
                                    <td> {{linea.tarea.tarea}} </td>
                                    <td> {{linea.producto.producto}} </td>
                                    <td title="PlannedQty"> {{linea.producto.plannedqty}} </td>
                                    <td> <input title="Linea informe de gasto -> Cantidad (Qty)" class="form-control" form="form_lineas" type="number" required="required" ng-model="linea.qty" min="0" step="0.01"></th>
                                    <td>
                                        <button ng-click="eliminar_linea($index, informe_actual.lineas)" type="button" class="btn btn-default" aria-label="Left Align">
                                            <span class="fa fa-times" aria-hidden="true"></span> 
                                        </button> 
                                    </td>
                                </tr>
                            </tbody>
                    </table>       
                </div>
                <form class="card-footer" id="form_lineas" ng-submit="guardar_localmente(proyecto_actual, true)">
                    <button type="button" class="btn btn-info" ng-click="cerrar_lineas_informe()">Cerrar</button>
                    <button type="submit" title="Guardar localmente" class="btn btn-info">
                        <span class="fa fa-floppy-o" aria-hidden="true"></span>
                    </button>
                </form>
            </div>            
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




<div class="modal fade" id="lineas_registro_empleados" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="card">
                    <div class="card-header"> 
                        <table>
                            <thead>
                                <tr>
                                    <th scope="col">Tercero</th>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Desde</th>
                                    <th scope="col">Hasta</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <select 
                                            form="tercero_form" class="form-control" required 
                                            ng-model="tercero" 
                                            ng-options="t as t.name for t in terceros">
                                            <option value=""></option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="date" form="tercero_form" ng-model="fecha" required class="form-control">
                                    </td>
                                    <td>
                                        <input type="time" form="tercero_form" ng-model="desde" max="{{hasta | date:'HH:mm:ss'}}" required class="form-control">
                                    </td>
                                    <td>
                                        <input type="time" form="tercero_form" ng-model="hasta" min="{{desde | date:'HH:mm:ss'}}" required class="form-control">
                                    </td>
                                    <td>
                                        <form id="tercero_form" ng-submit="nuevo_registro(tercero, fecha, desde, hasta)">
                                            <button type="submit" class="btn btn-info">
                                                <span class="fa fa-plus" aria-hidden="true"></span>
                                            </button>
                                        </form>                                   
                                    </td>
                                </tr>
                            </tbody>
                            
                        </table>              
                        
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th scope="col">Tercero</th>
                                        <th scope="col">Fecha</th>
                                        <th scope="col">Desde</th>
                                        <th scope="col">Hasta</th>
                                        <th scope="col">Eliminar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="registro in informe_actual.asistencias">
                                        <td> {{registro.tercero.name}} </td>
                                        <td> {{registro.fecha}} </td>
                                        <td> {{registro.desde}} </td>
                                        <td> {{registro.hasta}} </td>
                                        <td>
                                            <button ng-click="eliminar_tercero($index, informe_actual.asistencias)" type="button" class="btn btn-default" aria-label="Left Align">
                                                <span class="fa fa-times" aria-hidden="true"></span> 
                                            </button> 
                                        </td>
                                    </tr>
                                </tbody>
                        </table>       
                    </div>
                    <form class="card-footer" id="form_lineas" ng-submit="guardar_localmente(proyecto_actual, true)">
                        <button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
                        <button type="submit" title="Guardar localmente" class="btn btn-info">
                            <span class="fa fa-floppy-o" aria-hidden="true"></span>
                        </button>
                    </form>
                </div>            
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->