<div ng-show="mostrar_proyectos">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a > <strong> Proyectos descargados </strong> </a>
        </li>
    </ol>  
    
    <div class="table-responsive">
        <table class="table table-sm table-striped table-bordered no-more-tables">
            <thead>
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Proyecto</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Avance</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="p in proyectos">
                    <td data-title="Código">{{p.codigo || '-'}}</td>
                    <td data-title="Proyecto"> {{p.proyecto || '-'}} </td>
                    <td data-title="Descripción"> {{p.descripcion || '-'}} </td>
                    <td data-title="Avance">
                        <button ng-click="ver_informes(p)" title="Ver/crear avance" class="btn btn-default" aria-label="Left Align">
                            <span class="fa fa-search" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div ng-show="mostrar_informes">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a > <strong ng-click="mostrar_informes=false; mostrar_proyectos=true;">Proyectos descargados</strong>  / informe por proyecto</a>
        </li>
    </ol>
    <div class="table-responsive">
        <table class="table table-sm table-striped table-bordered no-more-tables">
            <thead>
                <tr>
                    <th scope="col">Num. Doc</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Lineas</th>
                    <th scope="col">Asistencias</th>
                    <th scope="col">Sincronizar</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="i in proyecto_actual.informes">
                    <td data-title="Num. Doc">{{i.documentno || 0}}</td>
                    <td data-title="Descripción"> <input class="form-control" form="form_informes" type="text" required ng-model="i.descripcion"></td>
                    <td data-title="Editar">
                        <button ng-click="editar_informe(i)" type="button" class="btn btn-default" aria-label="Left Align">
                            <span class="fa fa-pencil-square-o" aria-hidden="true"></span>
                        </button> 
                    </td>
                    <td data-title="Fecha"> <input class="form-control" form="form_informes" type="date" required ng-model="i.fecha"></td>
                    <td data-title="Lineas">
                        <button ng-click="ver_lineas_informe(i)" type="button" class="btn btn-default" aria-label="Left Align">
                            <span class="fa fa-list-ol" aria-hidden="true"></span>
                        </button> 
                    </td>
                    <td data-title="Asistencias">
                        <button ng-click="ver_lineas_asistencias(i)" type="button" class="btn btn-default" aria-label="Left Align">
                            <span class="fa fa-user" aria-hidden="true"></span>
                        </button> 
                    </td>
                    <td data-title="Sincronizar">
                        <button ng-click="sincronizar(proyecto_actual, i)" type="button" title="Sincronizar avance" class="btn btn-default" aria-label="Left Align">
                            <span class="fa fa-cloud-upload" aria-hidden="true"></span>
                        </button>
                    </td>
                    <td data-title="Eliminar">
                        <button ng-disabled="i.s_timeexpense_id > 0" ng-click="eliminar_informe($index, proyecto_actual.informes)" type="button" class="btn btn-default" aria-label="Left Align">
                            <span class="fa fa-times" aria-hidden="true"></span> 
                        </button> 
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <form id="form_informes" ng-submit="guardar_localmente(proyecto_actual)">
        <button type="button" class="btn btn-info" ng-click="nuevo_informe()">
            <span class="fa fa-plus" aria-hidden="true"></span>
        </button>
        <button type="submit" title="Guardar localmente" class="btn btn-info">
            <span class="fa fa-floppy-o" aria-hidden="true"></span>
        </button>
    </form> 
</div>



<div class="modal fade" id="cabecera_informe" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="card">
                <div style="font-weight: bold;" class="card-header">          
                    Cabecera Avance
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-sm table-bordered">
                        <tbody>
                            <tr>
                                <td style="font-weight: bold"> Descripción </td>
                                <td > 
                                    <input 
                                        class="form-control" 
                                        form="form_cabecera_avance" 
                                        type="text" required 
                                        ng-model="informe_actual.descripcion"> 
                                </td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold"> Tercero </td>
                                <td> 
                                    <select 
                                        form="form_cabecera_avance" class="form-control" required 
                                        ng-model="informe_actual.tercero" 
                                        ng-options="t.c_bpartner_id as t.name for t in terceros">
                                        <option value=""></option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold"> Trabajo Realizado </td>
                                <td > 
                                    <input class="form-control" form="form_cabecera_avance" type="text" required ng-model="informe_actual.trabajo_realizado"> 
                                </td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold"> Obs. Cliente </td>
                                <td > 
                                    <input class="form-control" form="form_cabecera_avance" type="text" required ng-model="informe_actual.observacion_cliente"> 
                                </td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold"> Datos Tec. </td>
                                <td > 
                                    <input class="form-control" form="form_cabecera_avance" type="text" required ng-model="informe_actual.datos_tecnicos"> 
                                </td>
                            </tr>
                        </tbody>
                    </table>       
                </div>
                <form class="card-footer" id="form_cabecera_avance" ng-submit="guardar_localmente(proyecto_actual, true)">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Ocultar</button>
                    <button type="submit" title="Guardar localmente" class="btn btn-info">
                        <span class="fa fa-floppy-o" aria-hidden="true"></span>
                    </button>
                </form>
            </div>            
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<div class="modal fade" id="lineas_informe_proyecto" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="card">
                <div class="card-header"> 
                    <!--<table>
                        <thead>
                            <tr>
                                <th scope="col">Ubicación</th>
                                <th scope="col">Ingenieria</th>
                                <th scope="col">Tarea</th>
                                <th scope="col">Producto</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <select 
                                        form="ubicacion_select" class="form-control" required 
                                        ng-model="ubicacion_seleccionada" 
                                        ng-change="cambio_ubicacion(ubicacion_seleccionada)"
                                        ng-options="u as u.ubicacion for u in ubicaciones">
                                        <option value=""></option>
                                    </select>
                                </td>
                                <td>
                                    <select 
                                        form="ubicacion_select" class="form-control" required 
                                        ng-model="fase_seleccionada" 
                                        ng-change="cambio_fase(fase_seleccionada)"
                                        ng-options="f as f.fase for f in fases">
                                        <option value=""></option>
                                    </select>
                                </td>
                                <td>
                                    <select 
                                        form="ubicacion_select" class="form-control" required 
                                        ng-model="tarea_seleccionada" 
                                        ng-change="cambio_tarea(tarea_seleccionada)"
                                        ng-options="t as t.tarea for t in tareas">
                                        <option value=""></option>
                                    </select>
                                </td>
                                <td>
                                    <select 
                                        form="ubicacion_select" class="form-control" required 
                                        ng-model="producto_seleccionado"
                                        ng-options="l as l.producto for l in lineas_tarea">
                                        <option value=""></option>
                                    </select>
                                </td>
                                <td>
                                    <form id="ubicacion_select" ng-submit="nueva_linea(ubicacion_seleccionada, fase_seleccionada, tarea_seleccionada, producto_seleccionado)">
                                        <button type="submit" class="btn btn-info">
                                            <span class="fa fa-plus" aria-hidden="true"></span>
                                        </button>
                                    </form>                                   
                                </td>
                                <td>
                                    <button type="button" class="btn btn-info" ng-click="generar_todos(ubicacion_seleccionada, fase_seleccionada)" title="Generar desde Ubicacion - Ingenieria">
                                        <span class="fa fa-retweet" aria-hidden="true"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        
                    </table>-->
                    <style>
                        .form-row {
                            margin-bottom: 7px;
                        }
                        .form-group {
                            margin-bottom: 0;
                        }

                        .form-group label {
                            margin-bottom: 0;
                            font-weight: bold;
                        }
                    </style>
                    <form 
                        class="form-row" 
                        id="ubicacion_select" 
                        ng-submit="nueva_linea(ubicacion_seleccionada, fase_seleccionada, tarea_seleccionada, producto_seleccionado)">
                        
                        <div class="form-group col-md-3">
                            <label >Ubicación</label>
                            <select 
                                form="ubicacion_select" class="form-control" required 
                                ng-model="ubicacion_seleccionada" 
                                ng-change="cambio_ubicacion(ubicacion_seleccionada)"
                                ng-options="u as u.ubicacion for u in ubicaciones">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="">Ingenieria</label>
                            <select 
                                form="ubicacion_select" class="form-control" required 
                                ng-model="fase_seleccionada" 
                                ng-change="cambio_fase(fase_seleccionada)"
                                ng-options="f as f.fase for f in fases">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="">Tarea</label>
                            <select 
                                form="ubicacion_select" class="form-control" required 
                                ng-model="tarea_seleccionada" 
                                ng-change="cambio_tarea(tarea_seleccionada)"
                                ng-options="t as t.tarea for t in tareas">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="">Producto</label>
                            <select 
                                form="ubicacion_select" class="form-control" required 
                                ng-model="producto_seleccionado"
                                ng-options="l as l.producto for l in lineas_tarea">
                                <option value=""></option>
                            </select>    
                        </div>             
                    </form>

                    <div >
                        <button type="submit" form="ubicacion_select" class="btn btn-info">
                            <span class="fa fa-plus" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-info" ng-click="generar_todos(ubicacion_seleccionada, fase_seleccionada)" title="Generar desde Ubicacion - Ingenieria">
                            <span class="fa fa-retweet" aria-hidden="true"></span>
                        </button>
                    </div >                    
                </div>

                <div class="card-body table-responsive">
                    <table class="table table-sm table-striped table-bordered no-more-tables">
                            <thead>
                                <tr>
                                    <th scope="col">Ubicación</th>
                                    <th scope="col">Fase</th>
                                    <th scope="col">Tarea</th>
                                    <th scope="col">Producto</th>
                                    <th scope="col">Cant Presup.</th>
                                    <th scope="col">Cant Av.</th>
                                    <th scope="col">Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="linea in informe_actual.lineas">
                                    <td data-title="Ubicación"> {{linea.ubicacion.ubicacion}} </td>
                                    <td data-title="Fase"> {{linea.fase.fase}} </td>
                                    <td data-title="Tarea"> {{linea.tarea.tarea}} </td>
                                    <td data-title="Producto"> {{linea.producto.producto}} </td>
                                    <td data-title="Cant Presup." title="PlannedQty"> {{linea.producto.plannedqty}} </td>
                                    <td data-title="Cant Av."> <input title="Linea informe de gasto -> Cantidad (Qty)" class="form-control" form="form_lineas" type="number" required="required" ng-model="linea.qty" min="0" step="0.01"></th>
                                    <td data-title="Eliminar">
                                        <button ng-click="eliminar_linea($index, informe_actual.lineas)" type="button" class="btn btn-default" aria-label="Left Align">
                                            <span class="fa fa-times" aria-hidden="true"></span> 
                                        </button> 
                                    </td>
                                </tr>
                            </tbody>
                    </table>       
                </div>
                <form class="card-footer" id="form_lineas" ng-submit="guardar_localmente(proyecto_actual, true)">
                    <button type="button" class="btn btn-info" data-dismiss="modal" >Ocultar</button>
                    <button type="submit" title="Guardar localmente" class="btn btn-info">
                        <span class="fa fa-floppy-o" aria-hidden="true"></span>
                    </button>
                </form>
            </div>            
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




<div class="modal fade" id="lineas_registro_empleados" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="card">
                    <div class="card-header table-responsive">
                        <form
                            class="form-row"  
                            id="tercero_form" 
                            ng-submit="nuevo_registro(tercero, fecha, desde, hasta)">
                            
                            <div class="form-group col-md-3">
                                <label >Tercero</label>
                                <select 
                                    form="tercero_form" class="form-control" required 
                                    ng-model="tercero" 
                                    ng-options="t as t.name for t in terceros">
                                    <option value=""></option>
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <label >Fecha</label>
                                <input type="date" form="tercero_form" ng-model="fecha" required class="form-control">
                            </div>
                            <div class="form-group col-md-3">
                                <label >Desde</label>
                                <input type="time" form="tercero_form" ng-model="desde" required class="form-control">
                            </div>
                            <div class="form-group col-md-3">
                                <label >Hasta</label>
                                <input type="time" form="tercero_form" ng-model="hasta" min="{{desde | date:'HH:mm:ss'}}" required class="form-control">
                            </div>
                        </form> 
                        <button form="tercero_form" type="submit" class="btn btn-info">
                            <span class="fa fa-plus" aria-hidden="true"></span>
                        </button>             
                        
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-sm table-striped table-bordered no-more-tables">
                                <thead>
                                    <tr>
                                        <th scope="col">Tercero</th>
                                        <th scope="col">Fecha</th>
                                        <th scope="col">Desde</th>
                                        <th scope="col">Hasta</th>
                                        <th scope="col">Eliminar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="registro in informe_actual.asistencias">
                                        <td data-title="Tercero"> {{registro.tercero.name}} </td>
                                        <td data-title="Fecha"> {{registro.fecha}} </td>
                                        <td data-title="Desde"> {{registro.desde}} </td>
                                        <td data-title="Hasta"> {{registro.hasta}} </td>
                                        <td data-title="Eliminar">
                                            <button ng-click="eliminar_linea($index, informe_actual.asistencias)" type="button" class="btn btn-default" aria-label="Left Align">
                                                <span class="fa fa-times" aria-hidden="true"></span> 
                                            </button> 
                                        </td>
                                    </tr>
                                </tbody>
                        </table>       
                    </div>
                    <form class="card-footer" id="form_lineas" ng-submit="guardar_localmente(proyecto_actual, true)">
                        <button type="button" class="btn btn-info" data-dismiss="modal">Ocultar</button>
                        <button type="submit" title="Guardar localmente" class="btn btn-info">
                            <span class="fa fa-floppy-o" aria-hidden="true"></span>
                        </button>
                    </form>
                </div>            
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->